.header nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    background-color: beige;
    padding: 10px;


}

.header nav a:hover {
    color: blueviolet;
    background-color: black;
}